<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Forecast request</title>
    <style type="text/css">
        label {
            display: inline-block;
            width: 200px;
            margin: 5px;
            text-align: left;
        }
        input[type=text], input[type=password], select {
            display: inline-block;
            width: 200px;
        }
        input[type=radio] {
            margin-left: 45px;
        }
        input[type=checkbox] {
            margin-right: 190px;
        }
        button {
            padding: 5px;
            margin: 10px;
        }
    </style>
</head>
<body>
<table>
    <tr>

        <!--        @Id-->
        <!--        @GeneratedValue(strategy = GenerationType.IDENTITY)-->
        <!--        private int id;-->
        <!--        @Column-->
        <!--        private String location;-->
        <!--        @Column-->
        <!--        private Timestamp time;-->
        <!--        @Column-->
        <!--        private Double maxtemp;-->
        <!--        @Column-->
        <!--        private Double mintemp;-->
        <!--        @Column-->
        <!--        private Double precip;-->
        <th>id</th>
        <th>location</th>
        <th>time</th>
        <th>maxtemp</th>
        <th>mintemp</th>
        <th>precip</th>
        <th>DELETE</th>
    </tr>
    <tr th:each="forecast,iterStat : ${forecasts}" th:class="${iterStat.odd}? 'odd'">
        <td th:text="${forecast.id}"></td>
        <td th:text="${forecast.location}"></td>
        <td th:text="${forecast.time}"></td>
        <td th:text="${forecast.maxtemp}"></td>
        <td th:text="${forecast.mintemp}"></td>
        <td th:text="${forecast.precip}"></td>
        <td>
            <form th:action="@{'/forecasts/delete/' + ${forecast.id}}" method="post">
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
</table>
<div align="center">
    <h1>Forecast request</h1>

    <form action="#" th:action="@{/forecasts/request}" method="post">

        <label for="days">Days from today:</label>
        <select id="days" name="days">
            <option th:each="p : ${listDates}" th:value="${p}" th:text="${p}" />
        </select>

        <label for="location">Location:</label>
        <select id="location" name="location">
            <option th:each="p : ${listCities}" th:value="${p}" th:text="${p}" />
        </select>

        <button type="submit">Request</button>
    </form>
</div>
</body>
</html>